
$headerColor: #ffb489;
$headerSize:24px;
$alertColor:#ffb489;
$formFieldWidth:180px;
$primeWindowHeight:200px;


.headerComponent {
  color: $headerColor;
  font-size: $headerSize;
  margin-left:160px;
}
.alertComponent{
  background-color: $alertColor;
  border-color: $alertColor;
}
.errorComponent{
  background-color: $alertColor;
}
.numberInputComponent{
  width:$formFieldWidth
}
.primeWindow{
  overflow: scroll;
  max-height:$primeWindowHeight;
  min-height:128px;
}

.no-padding-bottom {padding-bottom:0px !important;
margin-bottom: 0px !important;}

.no-padding{padding:0px!important;
margin:0px !important;}

