
$headerColor: #ffb489;
$headerSize:24px;
$alertColor:#ffb489;
$formFieldWidth:180px;
$primeWindowHeight:200px;


.headerComponent {
  color: $headerColor;
  font-size: $headerSize;
  margin-left:160px;
}
.alertComponent{
  background-color: $alertColor;
  border-color: $alertColor;
}
.errorComponent{
  background-color: $alertColor;
}
.numberInputComponent{
  width:$formFieldWidth
}
.primeWindow{
  overflow: scroll;
  max-height:$primeWindowHeight;
  min-height:128px;
}

.no-padding-bottom {padding-bottom:0px !important;
margin-bottom: 0px !important;}

.no-padding{padding:0px!important;
margin:0px !important;}


.actionButton{
  width:150px;
  height:40px;
  line-height:32px;
  border:2px solid #4264ea;
  border-radius: 30px;
  text-align: center;
  font-weight: 500;
  color:#4264ea;
  background: white;
}
.disabledButton{
  width:150px;
  height:40px;
  line-height:32px;
  border:2px solid #c8c8c8;
  border-radius: 30px;
  text-align: center;
  font-weight: 500;
  color:#c8c8c8;
  background: white;
}
.circleBase {
  border-radius: 50%;
}
.standard {
  width: 30px;
  height: 30px;
  background: #d3d3d3;
  border: #d3d3d3;
  color:#4264ea;
  text-align: center;
  position:relative;
}
.orange{
  background: orange;
  color:white;
}

.circleText{
  font-weight:800;
  position:absolute;
  top:4px;
  left:10.5px;

}
.circleTextIcon{

  position:absolute;
  top:4px;
  left:3px;

}

